*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background: url(abstract-digital-grid-black-background.jpg);
    /* background-repeat: no-repeat; */
    background-size: max(1200px, 100vw);
}

.top{
    height: 7vh;
    /* border: 1px solid rgb(0, 0, 0); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(149deg, #b1bdf0 0%, #d10e69 96.86%);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    list-style: none;
    color: white;
}

.icons li a{
    color: white;
    text-decoration: none;
}

.name{
    font-size: 30px;
    font-weight: 800;
    color: rgba(59, 10, 85, 0.656);
}

.image img{
    border-radius: 40px;
}

/* .hide{
    height: max-content;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
} */

h2{
    margin: 15px;
    color: white;
    display: flex;
    justify-content: center;
}

.login-button{
    color: white;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 70px;
    height: 25px;
    align-items: center;
    border-radius: 12px;
}

.container{
    margin: 0px 20px 50px 20px;
    height: 250px;
    border: 1px solid #d10e69;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.box1{
    width: 30%;
    /* border: 1px solid white; */
    height: 100%;
}

.box1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.box2{
    width: 70%;
    height: 100%;
    padding: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

h3{
    font-size: 20px;
}

button{
    margin: 2px;
    padding: 5px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    background: linear-gradient(149deg, #b1bdf0 0%, #d10e69 96.86%);
    border-radius: 10px;
}

footer{
    height: 40px;
    border: 1px solid #d10e69;
    background-color: black;
    color: white;
}

.bottom{
    font-size: 12px;
    height: 20px;
    display: flex;
    gap: 15px;
}

.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search{
    padding: 8px;
    font-size: 17px;
    border: 1px solid #d10e69;
    border-radius: 10px;

}

.search-button{
    padding: 10px 20px;
}

.explore{
    height: 300px;
    /* border: 1px solid #d10e69; */
    margin: 0px 20px 50px 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.e-box{
    margin: 12px;
    padding: 5px;
    border: 1px solid #d10e69;
    width: 33%;
    height: 280px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px 25%;
    width: 50%;
    border: 1px solid #d10e69;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

#enter{
    margin: 12px;
    padding: 5px 64px 5px 2px;
    border: 1px solid #d10e69;
    border-radius: 10px;
}

#text{
    margin: 12px;
    padding: 1px 64px 1px 2px;
    height: 100px;
    border: 1px solid #d10e69;
    border-radius: 10px;
}

.submit{
    padding: 10px 20px;
}